/* Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 16px;
    background-color: #f5f7fa;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #282c34;
    color: white;
    padding: 20px 0;
    text-align: left;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: left;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

header nav ul li a:hover {
    background-color: #4CAF50;
    color: white;
}

body {
    background-color: #002b55; /* Dark blue background */
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Table Styles */
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #1f1f1f;
    color: #ddd;
    border: 1px solid #444;
    border-radius: 100px;
    overflow: visible;
}

th, td {
    padding: 12px 20px;
    text-align: left;
    border-bottom: 1px solid #444;
}

th {
    background-color: #0d3b66;
    color: #fff;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #2a2a2a; /* Striped effect */
}

tr:hover {
    background-color: #445e76; /* Hover effect */
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #0d3b66;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

a {
    color: #1ebdc2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
